%h1.title= t('.resend_unlock_instructions')

= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = bulma_devise_error_messages!
  
  .field
    = f.label :email, class: 'label'
    = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input'
  
  .field
    = f.submit t('.resend_unlock_instructions'), class: 'button is-primary'

= render 'devise/shared/links'
